# Dependencies
node_modules/
dist/
qr-chat-portal/
pastie-dashboard/
pastie-chat-widget/
pastiechat-landing/

# Environment secrets
.env
CREDENTIALS.md

_git_locks_to_delete/
_to_delete/

# AI Assistants & UI/UX Pro Max
.agent/
.agents/
.claude/
.codebuddy/
.codex/
.continue/
.cursor/
.gemini/
.github/
.kiro/
.opencode/
.qoder/
.roo/
.trae/
.windsurf/

# System files
.DS_Store
Thumbs.db

#md file
*.md
PLAN_AGENT_SALE_QR.md