# Dependencies
node_modules/
dist/
qr-chat-portal/
pastie-dashboard/
pastie-chat-widget/

# Environment secrets
.env
CREDENTIALS.md

_git_locks_to_delete/
_to_delete/

.claude/

# System files
.DS_Store
Thumbs.db

#md file
*.md
PLAN_AGENT_SALE_QR.md